
/* width */
::-webkit-scrollbar {
    width: 5vh;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: .6vh;
}

body{
    background-image: url('../img/geometry.png');
    background-repeat: repeat;
    background-size: 50%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Roboto Mono', monospace;
}


/*PAGE CONTAINERS*/
.header.container{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8.3vh;
    display: inline-block;
    background-color: white;
    box-shadow: rgba(61, 66, 81, 0.2) 0px 0px 1px 0px, rgba(61, 66, 81, 0.3) 0px 1px 4px -1px;
    padding: 1%;
}

.main.page.container{
    width: 100vw;
    height: 91.7vh;
    display: inline-block;
}

.left.page.container {
    position: absolute;
    display: inline-block;
    height: 91.2vh;
    width: 5.3vw;
    border: 1px solid rgba(157, 157, 159, 0.8);
    background-color: rgba(233, 233, 239, 0.8);
}

.middle.page.container {
    display: inline-block;
    height: 99.6vh;
    width: 18.4vw;
    padding-left: 5.3%;
    border: 1px solid rgba(210, 210, 215, .8);
    background-color: white;
    box-shadow: rgba(61, 66, 81, 0.2) 0px 0px 1px 0px, rgba(61, 66, 81, 0.3) 0px 1px 4px -1px;
}

.right.page.container {
    position: absolute;
    display: inline-block;
    height: 91.2vh;
    width: 76vw;
    padding: 1%;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*HEADER CONTAINER*/
.header.icon.wrapper{
    position: absolute; 
    display: inline-block;
    width: 5vw;
    aspect-ratio: 1;
}

.header.icon.button{
    height: 70%;
    width: 70%;
    margin: .3vw;
    font-size: 1vw;
    border: none;
    background-color: transparent;
    background-image: url('../img/icon.png');
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    cursor: pointer;
}

.file.description.options.wrapper{
    display: inline-block;
    height: 100%;
    width: 75%;
    padding-left: 3.8%;
    font-size: 2vh;
}

.file.description.text.container{
    width: 90%;
    height: 50%;
    margin-left: 2%;
    font-size: 2vh;
}

.file.options.list.container {
    width: 90%;
    height: 50%;
    margin-left: 2%;
    display: inline-block;
    margin-top: 1vh;
}

.file.option{
    display: inline-block;
    width: 6%;
    height: 85%;
    font-size: 1.6vh;
    font-family: 'Roboto Mono', monospace;
    border: none;
    background-color: transparent;
    transition: .1s ease-in-out;
    cursor: pointer;
    border-radius: 1vh;
}

.file.option:hover{
    background-color: rgba(210, 210, 215, .8);
}

.time.run.information{
    display: inline-block;
    width: auto;
    height: 100%;
    margin-left: 7%;
    font-size: 2vh;
    text-decoration: underline;
}

.file.description.text{
    display: inline-block;
    width: auto;
    height: 100%;
    font-size: 2vw;
    margin-left: 2vw;
}

.favorite.icon.wrapper {
    position: absolute;
    display: inline-block;
    width: 2%;
    height: 50%;
}

.favorite.icon.button {
    height: 50%;
    aspect-ratio: 1;
    margin-top: 1.5vh;
    margin-left: 1.5vh;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('../img/empty-star.png');
    background-size: contain;
    background-repeat: no-repeat no-repeat;
}

.actions.wrapper{
    position: absolute; 
    display: inline-block;
    height: 100%;
    width: 20%;
}

.header.action{
    display: inline-block;
    margin: 3%;
    width: 35%;
    height: 50%;
    font-size: 2vh;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.512);
    box-shadow: rgba(61, 66, 81, 0.2) 0px 0px 1px 0px, rgba(61, 66, 81, 0.3) 0px 1px 4px -1px;
    transition: .1s ease-in-out;
    cursor: pointer;
    opacity: .7;
}

.header.action:hover{
    background-color: rgb(241, 241, 242);
    opacity: 1;
}


.RUN.icon, .RESET.icon {
    display: inline-block;
    height: 70%;
    aspect-ratio: 1;
    margin-left: -60%;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
}

.RUN.text, .RESET.text {
    position: absolute;
    display: inline-block;
    margin: 1%;
    margin-left: 3%;
    font-size: 110%;
}

.RUN.icon {
    background-image: url('../img/play.png');
}

.RESET.icon {
    background-image: url('../img/reset.png');
}

/*LEFT CONTAINER*/

.left.page.elements{
    width: 100%;
    height: 98%;
    background-color: transparent;
}

.left.page.toggle{
    position: absolute;
    aspect-ratio: 0.5;
    color: black;
    font-weight: 700;
    height: 4vh;
    width: 4vh;
    text-align: left;
    top: 45%;
    left: 85%;
    border-radius: 2.4vh;
    background-color: transparent;
    border: none;
    background-image: url("../img/arrow.png");
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    transition: .1s ease-in-out;
    cursor: pointer;
}

.left.page.toggle:hover{
    box-shadow: rgba(61, 66, 81, 0.2) 0px 0px 1px 0px, rgba(61, 66, 81, 0.3) 0px 1px 4px -1px;
    transform: rotate(180deg);
}

.left.page.element{
    height: 8%;
    aspect-ratio: 1.4;
    margin: 3%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.left.page.element:hover {
    background-color: rgba(203, 203, 207, 0.8);
}

.left.element.icon.FILES {
    background-image: url('../img/files.png');
    background-size: contain;
    background-repeat: no-repeat no-repeat;
}

.left.element.icon.ENV {
    background-image: url('../img/env.png');
    background-size: contain;
    background-repeat: no-repeat no-repeat;
}

.left.element.icon {
    height: 50%;
    aspect-ratio: 1;
    margin-left: 2.2vh;
}

.left.element.text{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.3vh;
    font-weight: 400;
    color: black;
}

.beta.signature{
    font-weight: 400;
    text-align: center;
}

/*MIDDLE CONTAINER*/
.files.info, .environment.info{
    display: inline-block;
    font-size: 2vh;
}

.files.info.wrapper, .environment.info.wrapper{
    width: 100%;
    height: 3.5%;
    padding: 3%;
}

.files.elements.wrapper {
    height: auto;
    width: 100%;

}

.file.element.middle.page {
    width: 100%;
    margin-top: .5%;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.4vh;
    background-color: rgb(237, 237, 242);
    border: none;
    cursor: pointer;
    transition: .1s ease-in-out ;
}

.file.element.middle.page:hover{
    background-color: rgba(210, 210, 215, .8);
}

.file.text.middle.page {
    text-align: left;
    padding: 1%;
    font-size: 150%;
    display: inline-block;
}

.file.toggle.middle.page{    
    height: 2vh;
    aspect-ratio: 1;
    display: inline-block;
    margin-left: 53%;
    background-image: url('../img/more.png');
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    transition: .1s ease-in-out ;
    cursor: pointer;
}

.file.toggle.middle.page:hover{
    background-color: rgb(211, 211, 216);
}

.files.info.text, .environment.info.text{
    width: fit-content;
}


.files.info.status{
    position: absolute;
    height: 2.5%;
    width: 7%;
}

.files.info.add{
    position: absolute;
    height: 3%;
    margin: 0;
    margin-left: 13%;
    padding: 0;
    aspect-ratio: 1;
    border: none;
    border-radius: .3vh;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(228, 228, 232, 0.8);
    transition: .1s ease-in-out;
    cursor: pointer;
}

.files.info.add:hover {
    background-color: rgb(212, 212, 212);
}

.py.environment.version.ladder, .py.package.import.list{
    padding: 1%;
    margin-top: 1%;
    font-size: 1.8vh;
}

.py.environment.version.toggle {
    width: 100%;
    padding: 2%;
    font-size: 1.8vh;
}


.package-list {
    padding: 4%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 10vh;
}

.package-name{
    padding: 1%;
    margin-top: 1%;
    font-size: 2vh;
}

/*RIGHT PAGE*/

.toolboxes.list {
    width: 98%;
    background-color: rgba(255, 255, 255, 0.578);
    box-shadow: rgba(61, 66, 81, 0.3) 0px 1px 4px -1px;
    padding: 1%;
}

.toolbox.button {
    width: fit-content;
    height: auto;
    font-size: .8vw;
    padding: 1%;
    background-color: white;
    border: none;
    box-shadow: rgba(61, 66, 81, 0.2) 0px 0px 1px 0px, rgba(61, 66, 81, 0.3) 0px 1px 4px -1px;
    font-family: 'Roboto Mono', monospace;
    transition: .1s ease-in-out;
    cursor: pointer;
}

.toolbox.button:hover{
    background-color: rgb(237, 237, 242);
}

.cells.container{
    padding: 10%;
    padding-top: 1%;
    width: 85%;
}

.cell.element, .cell.status{
    padding: 1.5%;
    margin-top: 5%;
}

.cell.status{
    width: 79%;
    font-size: 2vh;
    border: none;
    box-shadow: rgba(61, 66, 81, 0.2) 0px 0px 5px 0px, rgba(61, 66, 81, 0.3) 0px 2px 4px -1px;
    background-color: rgb(255, 255, 255);
}

.cell.information{
    display: inline-block;
    width: 80%;
    padding: 1.5%;
    font-size: 2vh;
    border: none;
    box-shadow: rgba(61, 66, 81, 0.2) 0px 0px 5px 0px, rgba(61, 66, 81, 0.3) 0px 2px 4px -1px;
    background-color: rgb(255, 255, 255);
}

.cell.widgets{
    position: absolute;
    width: 5%;
    display: inline-block;
}

.run.cell, .delete.cell {
    height: 3vh;
    aspect-ratio: 1;
    margin-top: 1%;
    margin-left: 5%;
    padding: 4%;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: .1s ease-in-out;
    opacity: .2;
}

.run.cell {
    background-image: url('../img/play.png');
}

.delete.cell {
    background-image: url('../img/delete.png');
}

.run.cell:hover, .delete.cell:hover {
    background-color: rgb(255, 255, 255);
    opacity: 1;
}